body {
    background-color:#fff;
    color: rgba(0, 0, 0, 0.85);
}

.btn-primary-bg {
    background: rgb(2,0,36) 
                  linear-gradient(180deg, 
                rgba(2,0,36,1) 0%, 
                rgba(154,0,191,1) 0%, 
                rgba(45,0,136,1) 100%);
    color: #fff;
}